<section class="full-width-content inside-container light margin-top-15 margin-bottom-10">
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
	  <div class="player_section">
	    <img src="/assets/big_play.svg" alt="" title="">
	    <img src="/assets/carousel/placeholder11.png" class="img-fluid" alt="" title="">
	  </div>
	  <div class="player_desc_section">
	    <h2 class="margin-bottom-15">Neelkamal</h2>
	    <ul class="play_feature1 list-none padding-left-0 margin-bottom-20">
	      <li>Thriller</li>
	      <li>Hindi</li>
	      <li>1984</li>
	      <li>UA</li>
	      <li>02h : 16m : 05s</li>
	    </ul>
	    <ul class="play_feature2 list-none padding-left-0 margin-bottom-20">
	      <li class="text-uppercase text-center">
	        <a href="javascript:;">
	          <img src="/assets/preview.svg" class="text-center" alt="" title="">
	          <span>Preview</span>
	        </a>
	      </li>
	      <li class="text-uppercase text-center">
	        <a href="javascript:;">
	          <img src="/assets/watch_later.svg" class="text-center" alt="" title="">
	          <span>Watch Later</span>
	        </a>
	      </li>
	      <li class="text-uppercase text-center">
	        <a href="javascript:;">
	          <img src="/assets/share.svg" class="text-center" alt="" title="">
	          <span>Share</span>
	        </a>
	      </li>
	    </ul>
	    <p class="margin-bottom-20">If there is a show that has redefined Television in India, it is undoubtedly and unquestionaly Yeh jo If there is a show that has redefined Television in India, it is undoubtedly and unquestionaly Yeh jo If there is a show that has redefined Television in India, it is undoubtedly</p>
	    <p class="margin-bottom-20">
	      <b>Starring:</b><br>
	      Shafi Inamdar,Shafi Inamdar,Shafi Inamdar,Shafi Inamdar,Shafi Inamdar
	    </p>
	    <p>
	      <b>Directed By:</b><br>
	      Manjula Sinha, Manjula Sinha, Manjula Sinha
	    </p>
	  </div>  
	</div>  
  </div>
	<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-top-5">
	  <h2 class="margin-bottom-15 text-capitalize" style="width: 100%;">All Episodes</h2>
	  <div class="row row-show-list detail_page">
	    <div class="item">                                                              
	      <a href="javascript:;">
	        <img src="/assets/big_play.svg" alt="" title="">
	        <img src="/assets/carousel/placeholder11.png" alt="" title="">
	        <span class="list-tile-title">The Nil Institute</span>
	        <span class="list-tile-duration">E 001&nbsp;&nbsp;|&nbsp;&nbsp;22m</span>
	      </a>
	    </div>
	    <div class="item">                                            
	      <a href="javascript:;">
	        <img src="/assets/big_play.svg" alt="" title="">
	        <img src="/assets/carousel/placeholder11.png" alt="" title="">
	        <span class="list-tile-title">The Nil Institute</span>
	        <span class="list-tile-duration">E 001&nbsp;&nbsp;|&nbsp;&nbsp;22m</span>
	      </a>
	    </div>
	    <div class="item">                                            
	      <a href="javascript:;">
	        <img src="/assets/big_play.svg" alt="" title="">
	        <img src="/assets/carousel/placeholder11.png" alt="" title="">
	        <span class="list-tile-title">The Nil Institute</span>
	        <span class="list-tile-duration">E 001 | 22m</span>
	      </a>
	    </div>
	    <div class="item">                                            
	      <a href="javascript:;">
	        <img src="/assets/big_play.svg" alt="" title="">
	        <img src="/assets/carousel/placeholder11.png" alt="" title="">
	        <span class="list-tile-title">The Nil Institute</span>
	        <span class="list-tile-duration">E 001&nbsp;&nbsp;|&nbsp;&nbsp;22m</span>
	      </a>
	    </div>
              
	  </div>          
	</div>                
	</div>
</section>