<section class="full-width-content inside-container light padding-top-30">
	<div class="row"><!-- Continue Watching starts -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- search-page">
  <input type="search" id="" name="" class="" placeholder="Search for shows, movies, songs...">

 </div>
 </div>
</section>