 <section class="onboarding-bg padding-top-80 padding-top-145 min-height-div">
  <div class="onboarding-contianer margin-bottom-30">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 margin-top-25">
       <input type="hidden" class="user_region" name="user region" value="<%=$region%>">
        <h2 class="block margin-bottom-10">Forgot Password</h2>
        <div class="pull-left w-100 tile-box-shadow padding-bottom-30 padding-top-45 rounded">
          <div class="w-100 all_error padding-left-10 padding-right-10" >
            <label class="error rounded text-center" id="bakend_user_errors">Invalid Credentials</label>
          </div>
          <div class="pull-left w-100 padding-left-30 padding-right-30 margin-top-0">
            <p class="margin-top-0 margin-bottom-30 normal_txt">To reset your password, enter the mobile number associated with your ShemarooMe account</p>
            <div class="input-group country margin-top-0">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <input type="text" id="country_code" name="country_code" class="form-control" value="+91" readonly> 
              <input type="text" id="login_mobile_number" name="mobilenumber" class="form-control" maxlength="10" onkeypress='return validateNumber(event);'>
              <span class="input-label">Mobile Number</span> 
              <label class="error" id="login_mobile_error">Please enter the mobile number</label>
            </div>
            <div class="text-center margin-bottom-0 margin-top-5 light">         
              <div class="inline-block margin-top-0 margin-bottom-5 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="">confirm</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <%=render "validate_mobile_number"%>
</section>
<script>
   var window_height = window.outerHeight;
  var window_height = window_height - 153;
  $('.min-height-div').css('min-height',window_height+'px');
</script>