<!-- <section class="onboarding-bg padding-top-155 min-height-div">
  <div class="onboarding-contianer margin-bottom-30">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 margin-top-25">
        <h2 class="block margin-bottom-10">Login</h2>
        <div class="w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded">
          <div class="input-group all_error">
            <label class="error">Invalid Credentials</label>
          </div>
          <div class="input-group country">
            <input type="text" id="country_code" name="country_code" class="form-control" value="+91" readonly> 
            <input type="text" id="mobile_number" name="mobile number" class="form-control">
            <span class="input-label">Mobile Number</span> 
            <label class="error">Please enter the valid 10 digit number</label>
          </div>
          <div class="input-group hide_password">
            <input type="password" id="" name="" class="form-control"> 
            <img src="/assets/show_password.svg" class="show_password" alt="" title="">
            <span class="input-label">Password</span>
            <label class="error">Please enter the valid password</label>
          </div>
          <div class="text-center margin-bottom-25 margin-top-20 light">
            <a href="javascript:;" class="inline-block text-uppercase gradient-button1"><span class="font-medium">login</span></a>
          </div>
          <div class="text-center margin-bottom-25 margin-top-20">
            <a href="javascript:;" class="inline-block text-uppercase margin-bottom-15 font-medium">forgot password ?</a>
          </div>
          <div class="text-center margin-bottom-0 margin-top-20 font-medium">
            <span>Not a member?</span><a href="/users/register" class="inline-block text-uppercase">&nbsp;Register</a>
          </div>
        </div>

    

      </div>
    </div>
  </div>



  <%=render "layouts/page_height_setting"%>
</section>
 -->
<section class="onboarding-bg padding-top-155 min-height-div">
  <div class="onboarding-contianer margin-bottom-30">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 margin-top-25">
        <h2 class="block margin-bottom-10"><img src="/assets/back_arrow.svg" class="back_arrow" alt="" title=""> OTP Verification</h2>
        <div class="w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded otp-verification-page">
          <span class="pull-left w-100 margin-bottom-20 font-light">Enter the 4 digit OTP sent to your mobile number via SMS</span>
          <div class="input-group margin-bottom-0">
            <input type="text" id="" name="" placeholder="0" maxlength="1">
            <input type="text" id="" name="" placeholder="0" maxlength="1">
            <input type="text" id="" name="" placeholder="0" maxlength="1">
            <input type="text" id="" name="" placeholder="0" maxlength="1">
          </div>
          <div class="text-center margin-bottom-15 margin-top-0 font-light">
            <p>Didn't receive the OTP?</p>
          </div>
          <div class="text-center margin-bottom-20 font-medium">
            <a href="/users/register" class="inline-block text-uppercase">Resend</a>
          </div>
          <div class="text-center light">
            <a href="javascript:;" class="inline-block text-uppercase gradient-button1"><span class="">Verify</span></a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>