<%
meta title: "User Register",
     description: "Register",
     keywords: %w(Register)
%>
<div class="padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 margin-top-25">
           <input type="hidden" class="user_region" name="user region" value="<%=$region%>">
          <h2 class="block margin-bottom-10"><!-- <img src="/assets/back_arrow.svg" class="back_arrow" alt="back arrow" title="back arrow"> --> Register</h2>
          <div class="w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded">
          <div class="input-group all_error" >
              <label class="error" id="signup_resp_error_msg">Invalid Credentials</label>
            </div>
            <div class="input-group name">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <input type="text" id="user_name" name="user name" class="form-control" required="true"> 
              <span class="input-label">Name</span> 
              <label class="error" id="signup_name_error">Plese enter the name</label>
            </div>
            <%if $region == "IN"%>
            <div class="input-group country">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <input type="text" id="country_code" name="country_code" class="form-control" value="+91" readonly> 
              <input type="text" id="mobile_number" name="mobile no" class="form-control" maxlength="10" onkeypress='return validateNumber(event);'> 
              <span class="input-label">Mobile Number</span>
              <label class="error" id="signup_mobile_error">Plese enter the mobile number</label>
            </div>
            <%else%>

            <div class="input-group email">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <input type="text" id="user_email" name="user email" class="form-control" required="true"> 
              <span class="input-label">Email</span> 
              <label class="error" id="signup_email_error">Plese enter the email</label>
            </div>
            <%end%>
            <div class="input-group pwd hide_password">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <input type="password" id="password" name="password" class="form-control"> 
              <img src="/assets/show_password.svg" class="show_password" alt="show password" title="show password">
              <span class="input-label">Password</span>
              <label class="error" id="signup_password">Plese enter the password</label> 
            </div>
            <div class="input-group cpwd hide_password">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <input type="password" id="confirm_password" name="confirm password" class="form-control margin-bottom-15"> 
              <img src="/assets/show_password.svg" class="show_password" alt="show confirm password" title="show confirm password">
              <span class="input-label">Confirm Password</span>
              <label class="error" id="signup_confirm_password">Plese enter the confirm password</label> 
   
            </div>
            <div class="input-group custom-controls-stacked d-block margin-bottom-15">
            <label class="custom-control overflow-checkbox">
                <input type="checkbox" class="overflow-control-input" id="agree_terms">
                <span class="overflow-control-indicator"></span>
                <span class="overflow-control-description">I agree to the <a href="/terms-and-conditions" class="text-uppercase">terms of use </a>and <a href="/privacy-policy" class="text-uppercase">privacy policy</a></span>
              </label>
             <label class="error" id="terms_check">Please check the terms of use</label> 
            </div>
            <div class="inline-block w-100 text-center margin-bottom-5 margin-top-25 light">
              <!-- <a href="javascript:void(0)" class="inline-block text-uppercase gradient-button1" id="user_register">
                <span id="register_text">Register</span>
              </a> -->
              <div class="inline-block margin-top-0 margin-bottom-15 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="user_register">Register</a>
                </p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>

<div class="modal" id="reg_success">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" aria-label="Close" id="user_email_close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="margin-bottom-20 margin-top-25">Congratulations!</h5>
        <img src="/assets/transaction_successful.svg" class="plans_pop_image margin-top-10 margin-bottom-5" alt="congratulations" title="congratulations">
        <p class="pull-left w-100 margin-top-25 margin-bottom-25 font-medium">Your Email id has been successfully registered</p>
        <div class="pull-left w-100 inline-block margin-top-5 margin-bottom-20 custom-gradient">
          <p class="inline radius-button">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="user_email_process">proceed</a>
          </p>
        </div>
        </div>      
    </div>
  </div>
</div>

  </section>
</div>
<script type="text/javascript">
$("#with_header_tabs").hide();
$(document).ready(function(){
  $("#without_header_tabs").show();  
});
function validateNumber(event) {
    var key = window.event ? event.keyCode : event.which;
if (event.keyCode == 8 || event.keyCode == 46
 || event.keyCode == 37 || event.keyCode == 39) {
    return true;
}
else if ( key < 48 || key > 57 ) {
    return false;
}
else return true;
};
</script>