<section class="onboarding-bg min-height-div padding-top-85 padding-top-145">
  <div class="onboarding-payment-contianer margin-bottom-30">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 margin-top-25">
        <h2 class="block margin-bottom-10">Streaming</h2>
        <div class="w-100 pull-left tile-box-shadow padding-left-30 settings_page padding-right-30 padding-bottom-15 padding-top-10 rounded">
          <ul class="list-none padding-left-0 pull-left w-100 font-light">
            <li class="pull-left w-100 border-bottom">
              <span class="pull-left normal_txt">Streaming</span>
              <span class="pull-right">Auto</span>
            </li>
            <li class="pull-left w-100 border-bottom">
              <span class="pull-left normal_txt">Streaming on Wi-Fi</span>
              <div class="custom-controls-stacked pull-right">
                <label class="custom-control material-switch margin-bottom-0">
                  <input type="checkbox" class="material-switch-control-input">
                  <span class="material-switch-control-indicator"></span>
                </label>
              </div>
            </li>
            <li class="pull-left w-100 border-bottom">
              <span class="pull-left normal_txt">Mobile Data Saver</span>
              <div class="custom-controls-stacked pull-right">
                <label class="custom-control material-switch margin-bottom-0">
                  <input type="checkbox" checked="checked" class="material-switch-control-input">
                  <span class="material-switch-control-indicator"></span>
                </label>
              </div>
            </li>
            <li class="pull-left w-100 border-bottom">
              <span class="pull-left normal_txt">Notify me while using Mobile Data</span>
              <div class="custom-controls-stacked pull-right">
                <label class="custom-control material-switch margin-bottom-0">
                  <input type="checkbox" checked="checked" class="material-switch-control-input">
                  <span class="material-switch-control-indicator"></span>
                </label>
              </div>
            </li>
          </ul>          
        </div>
      </div>
    </div>
  </div>
  <%=render "layouts/page_height_setting"%>
</section>


<div class="modal" id="streaming-quality-pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30 padding-bottom-30">
        <h5 class="margin-bottom-10 margin-top-5">Streaming Quality</h5>
        <ul class="list-none padding-left-0 margin-bottom-25 pull-left w-100 font-light">
          <li class="pull-left w-100 border-bottom">            
            <input type="radio" id="Auto" name="radio-group">
            <label for="Auto" class="font-light normal_txt">Auto</label>            
          </li>
          <li class="pull-left w-100 border-bottom">
            <input type="radio" id="Full" name="radio-group">
            <label for="Full" class="font-light normal_txt">Full HD(1080 p) - 30 mins / GB</label>
          </li>
          <li class="pull-left w-100 border-bottom">            
            <input type="radio" id="High" name="radio-group">
            <label for="High" class="font-light normal_txt">High (720 p) - 1 hr / GB</label>            
          </li>
          <li class="pull-left w-100 border-bottom">
            <input type="radio" id="Medium" name="radio-group">
            <label for="Medium" class="font-light normal_txt">Medium (360 p) - 2.5 hrs / GB</label>
          </li>
          <li class="pull-left w-100 border-bottom">
            <input type="radio" id="Low" name="radio-group">
            <label for="Low" class="font-light normal_txt">Low (180 p) - 9 hrs / GB</label>
          </li>
           <li class="pull-left w-100 border-bottom padding-top-25 margin-top-5 padding-bottom-15 margin-bottom-5">
            <span class="pull-left normal_txt">Keep Highest Quality when on Wi-Fi</span>
            <div class="custom-controls-stacked pull-right">
                <label class="custom-control material-switch margin-bottom-0">
                  <input type="checkbox" checked="checked" class="material-switch-control-input">
                  <span class="material-switch-control-indicator"></span>
                </label>
              </div>
          </li>
        </ul>
        <div class="text-center inline-block w-100 margin-top-10 margin-bottom-5 custom-gradient">
          <p class="inline radius-button border-radius-40">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="">update</a>
          </p>
        </div>
      </div>   
    </div>
  </div>
</div>