<section class="onboarding-bg padding-top-155 min-height-div">
  <div class="onboarding-contianer margin-bottom-30">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 margin-top-25">
        <h2 class="block margin-bottom-10"><img src="/assets/back_arrow.svg" class="back_arrow" alt="" title=""> OTP Verification</h2>
        <div class="w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded otp-verification-page">
          <span class="pull-left w-100 margin-bottom-20 font-light">Enter the 4 digit OTP sent to your mobile number via SMS</span>
          <div class="input-group margin-bottom-25">
            <input type="text" id="" name="" placeholder="0" maxlength="1" pattern="[0-9]">
            <input type="text" id="" name="" placeholder="0" maxlength="1" pattern="[0-9]">
            <input type="text" id="" name="" placeholder="0" maxlength="1" pattern="[0-9]">
            <input type="text" id="" name="" placeholder="0" maxlength="1" pattern="[0-9]">        
            <!-- <span class="pull-left w-100 text-center font-light">00:51</span> -->
          </div>
          <div class="text-center margin-bottom-15 margin-top-0 font-light">
            <p>Didn't receive the OTP?</p>
          </div>
          <div class="text-center margin-bottom-20 font-medium">
            <a href="/users/register" class="inline-block text-uppercase">Resend</a>
          </div>
          <div class="text-center light">
            <a href="javascript:;" class="inline-block text-uppercase gradient-button1"><span class="">Verify</span></a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
var window_height = window.outerHeight;
var window_height = window_height - 220;
$('.min-height-div').css('min-height',window_height+'px');
$("#with_header_tabs").hide();
$(document).ready(function(){
 $("#without_header_tabs").show();
});
</script>