<section class="full-width-content inside-container padding-top-80 padding-top-145 light min-height-div padding-bottom-20 watchlist-page">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-top-20">
      <h2 class="margin-bottom-15 text-capitalize w-100">Watchlist</h2>
      <div class="row row-show-list detail_page" id="all_episodes">
        <div class="item details_episode_horizontal_title">                  
          <a href="/bollywood-retro-shows/zabaan-sambhalke/the-nil-institute">
            <img src="http://daex9l847wg3n.cloudfront.net/shemoutputimages/The-Nil-Institute/5bb5f1d9a609d2d137000041/small_16_9.jpg?1538717812" alt="The Nil Institute" title="The Nil Institute">
            <div class="item-feature">
              <p class="list-tile-title pull-left w-100">The Nil Institute</p>
              <span class="list-tile-duration pull-left">001 | &nbsp;&nbsp;00h:24m:19s</span>
              <span class="pull-right"><img src="/assets/remove.svg" class="remove" alt="" title=""></span>
            </div>
          </a>
        </div>  
        <div class="item details_episode_horizontal_title">                  
          <a href="/bollywood-retro-shows/zabaan-sambhalke/marathi-actor-joins-nil">
            <img src="http://daex9l847wg3n.cloudfront.net/shemoutputimages/Marathi-Actor-Joins-Nil/5bb5f1faa609d2d137000043/small_16_9.jpg?1538717829" alt="Marathi Actor Joins Nil" title="Marathi Actor Joins Nil">
            <div class="item-feature">
              <p class="list-tile-title margin-bottom-0 pull-left w-100">The Nil Institute</p>
              <span class="list-tile-duration pull-left">001&nbsp; | &nbsp;00h:24m:19s</span>
              <span class="pull-right"><img src="/assets/remove.svg" class="remove" alt="" title=""></span>
            </div>
          </a>
        </div>  
        <div class="item details_episode_horizontal_title">                  
          <a href="/bollywood-retro-shows/zabaan-sambhalke/robbers-attack-ruslan">
            <img src="http://daex9l847wg3n.cloudfront.net/shemoutputimages/Robbers-Attack-Ruslan/5bb5f217a609d2d137000045/small_16_9.jpg?1538717843" alt="Robbers Attack Ruslan" title="Robbers Attack Ruslan">
            <div class="item-feature">
              <p class="list-tile-title margin-bottom-0 pull-left w-100">The Nil Institute</p>
              <span class="list-tile-duration pull-left">001&nbsp; | &nbsp;00h:24m:19s</span>
              <span class="pull-right"><img src="/assets/remove.svg" class="remove" alt="" title=""></span>
            </div>
          </a>
        </div>  
        <div class="item details_episode_horizontal_title">                  
          <a href="/bollywood-retro-shows/zabaan-sambhalke/student-strike">
            <img src="http://daex9l847wg3n.cloudfront.net/shemoutputimages/Student-Strike/5bb5f234a609d2d137000047/small_16_9.jpg?1538717857" alt="Student Strike" title="Student Strike">
            <div class="item-feature">
              <p class="list-tile-title margin-bottom-0 pull-left w-100">The Nil Institute</p>
              <span class="list-tile-duration pull-left">001&nbsp; | &nbsp;00h:24m:19s</span>
              <span class="pull-right"><img src="/assets/remove.svg" class="remove" alt="" title=""></span>
            </div>
          </a>
        </div>  
        <div class="item details_episode_horizontal_title">                  
          <a href="/bollywood-retro-shows/zabaan-sambhalke/jennys-kid">
            <img src="http://daex9l847wg3n.cloudfront.net/shemoutputimages/Jenny'S-Kid/5bb5f257a609d2d137000049/small_16_9.jpg?1538717870" alt="Jenny'S Kid" title="Jenny'S Kid">
            <div class="item-feature">
              <p class="list-tile-title margin-bottom-0 pull-left w-100">The Nil Institute</p>
              <span class="list-tile-duration pull-left">001&nbsp; | &nbsp;00h:24m:19s</span>
              <span class="pull-right"><img src="/assets/remove.svg" class="remove" alt="" title=""></span>
            </div>
          </a>
        </div>  
        <div class="item details_episode_horizontal_title">                  
          <a href="/bollywood-retro-shows/zabaan-sambhalke/miss-dixits-funeral">
            <img src="http://daex9l847wg3n.cloudfront.net/shemoutputimages/Miss-Dixit'S-Funeral/5bb5f276a609d2d13700004b/small_16_9.jpg?1538717885" alt="Miss Dixit'S Funeral" title="Miss Dixit'S Funeral">
            <div class="item-feature">
              <p class="list-tile-title margin-bottom-0 pull-left w-100">The Nil Institute</p>
              <span class="list-tile-duration pull-left">001&nbsp; | &nbsp;00h:24m:19s</span>
              <span class="pull-right"><img src="/assets/remove.svg" class="remove" alt="" title=""></span>
            </div>
          </a>
        </div>  
        <div class="item details_episode_horizontal_title">                  
          <a href="/bollywood-retro-shows/zabaan-sambhalke/school-inspection">
            <img src="http://daex9l847wg3n.cloudfront.net/shemoutputimages/School-Inspection/5bb5f29aa609d2d13700004d/small_16_9.jpg?1538717905" alt="School Inspection" title="School Inspection">
            <div class="item-feature">
             <p class="list-tile-title margin-bottom-0 pull-left w-100">The Nil Institute</p>
              <span class="list-tile-duration pull-left">001&nbsp; | &nbsp;00h:24m:19s</span>
              <span class="pull-right"><img src="/assets/remove.svg" class="remove" alt="" title=""></span>
            </div>
          </a>
        </div>  
        <div class="item details_episode_horizontal_title">                  
          <a href="/bollywood-retro-shows/zabaan-sambhalke/the-innocent-niece">
            <img src="http://daex9l847wg3n.cloudfront.net/shemoutputimages/The-Innocent-Niece/5bb5f2baa609d2d13700004f/small_16_9.jpg?1538717919" alt="The Innocent Niece" title="The Innocent Niece">
            <div class="item-feature">
              <p class="list-tile-title margin-bottom-0 pull-left w-100">The Nil Institute</p>
              <span class="list-tile-duration pull-left">001&nbsp; | &nbsp;00h:24m:19s</span>
              <span class="pull-right"><img src="/assets/remove.svg" class="remove" alt="" title=""></span>
            </div>
          </a>
        </div>  
        <div class="item details_episode_horizontal_title">                  
          <a href="/bollywood-retro-shows/zabaan-sambhalke/mr-mohan-falls-sick">
            <img src="http://daex9l847wg3n.cloudfront.net/shemoutputimages/Mr.-Mohan-Falls-Sick/5bb5f2d9a609d2d137000051/small_16_9.jpg?1538717939" alt="Mr. Mohan Falls Sick" title="Mr. Mohan Falls Sick">
            <div class="item-feature">
              <p class="list-tile-title margin-bottom-0 pull-left w-100">The Nil Institute</p>
              <span class="list-tile-duration pull-left">001&nbsp; | &nbsp;00h:24m:19s</span>
              <span class="pull-right"><img src="/assets/remove.svg" class="remove" alt="" title=""></span>
            </div>
          </a>
        </div>  
        <div class="item details_episode_horizontal_title">                  
          <a href="/bollywood-retro-shows/zabaan-sambhalke/rajasthani-cook-joins-nil">
            <img src="http://daex9l847wg3n.cloudfront.net/shemoutputimages/Rajasthani-Cook-Joins-Nil/5bb5f2fba609d2d137000053/small_16_9.jpg?1538717953" alt="Rajasthani Cook Joins Nil" title="Rajasthani Cook Joins Nil">
            <div class="item-feature">
              <p class="list-tile-title margin-bottom-0 pull-left w-100">The Nil Institute</p>
              <span class="list-tile-duration pull-left">001&nbsp; | &nbsp;00h:24m:19s</span>
              <span class="pull-right"><img src="/assets/remove.svg" class="remove" alt="" title=""></span>
            </div>
          </a>
        </div>  
      </div>  

    </div>                
  </div>
  <%=render "layouts/page_height_setting"%>
</section>  

<section class="full-width-content inside-container padding-top-80 padding-top-145 light min-height-div padding-bottom-20 watchlist-page">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
      <h2 class="pull-left margin-bottom-15 text-capitalize w-100">Watchlist</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap text-center" id="no_search_results">
      <img src="/assets/no_watchlist.svg" class="search-no-results-image" alt="" title="">
      <p class="margin-bottom-0 font-medium"><strong>Watch when you want</strong></p>
      <p class="font-light margin-bottom-25">Add shows, movies, songs to the watch list and watch it whenever you want. </p>
      <div class="text-center margin-bottom-10 margin-top-5 light">
        <div class="inline-block margin-top-5 margin-bottom-15 custom-gradient">
          <p class="inline radius-button">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="">browse shemaroo</a>
          </p>
        </div>
      </div>
    </div>  
  </div>

  <%=render "layouts/page_height_setting"%>
</section>