<div class="padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 margin-top-25">
          <input type="hidden" class="user_region" name="user region" value="<%=$region%>">    
          <div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded text-center">
	          <h6 class="margin-bottom-25">Welcome Soumya!</h6>      
	          <img src="/assets/subscription.svg" class="margin-bottom-5 welcome_page_image"  alt="" title="">
	          <p class="font-light margin-top-20">Subscribe to get unlimited entertainment</p>
	          <p class="pull-left w-100 margin-top-15 margin-bottom-15">
		          <a href="javascript:;" class="text-uppercase btn btn-outline-primary gradient1 radius-button">subscribe now</a>
		        </p>
		        <p class="pull-left w-100 margin-top-15">
		          <a href="javascript:;" class="text-uppercase">no thanks</a>
		        </p>
	        </div>
        </div>
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
  </section>
</div>
