<section class="onboarding-bg onboarding-bg-min-height padding-top-80 padding-top-145 min-height-div">
  <div class="static-container margin-bottom-30">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 margin-top-25">
        <h2 class="block margin-bottom-10">Privacy Policy</h2>
        <div class="w-100 tile-box-shadow padding-left-30 padding-right-25 padding-bottom-30 padding-top-30 rounded font-light">
            <p class="pull-left w-100 margin-bottom-15">
            This Privacy Policy entails the details of our collection, use and disclosure of information, including your personal information, within Shemaroo Me
          </p>
          <p class="pull-left w-100 margin-bottom-15">
            This Policy specifically governs the usage of information collected by us from our users of [insert link to the website] “Platform” and any associated mobile sites, applications, and/or any other services provided by us on the website, which can be accessed thereof. This Policy should be read in conjunction and together with the <a href="/terms-and-conditions">Terms of Use</a> available at </p>
          <p class="pull-left w-100 margin-bottom-15">
            Your viewing or browsing of our content or your use of our services offered on Shemaroo Me is construed to mean that you consent to our collection, storage, processing of your Personal Information or Sensitive Personal Information or Information in accordance with this Privacy Policy and you consent to the terms and conditions of this Privacy Policy. You agree to be bound by the terms of this Privacy Policy. 
          </p>
          <h5 class="margin-bottom-5 margin-top-0">1. Collection of Information</h5>
          <p class="pull-left w-100 margin-bottom-15">
            We receive and store information about you, such as:<br>Provided By You: The following are collected, as you provide us with:
          </p>
          <p class="padding-left-15 margin-bottom-15">
            -&nbsp;&nbsp;&nbsp;Your name, e-mail address, address, postal code, inclusive of payment methods, and, telephone number.
          </p>
          <p class="padding-left-15 margin-bottom-15">
            -&nbsp;&nbsp;&nbsp;Certain other information like your choice to provide further information pertaining to preferences, account settings, reviews, ratings, or any other information provided to us through our service, or elsewhere.
          </p>
          <p class="pull-left w-100 margin-bottom-5">
            As Collected Automatically: The following are collected about you, your use of our service, the devices used to access our service [internet enabled compatible devices]. This information includes the following:
          </p>
          <p class="padding-left-15 margin-bottom-15">      
            -&nbsp;&nbsp;&nbsp;Your activity on the Platform, which would include your search history, your search inputs,
          </p>
          <p class="padding-left-15 margin-bottom-15">      
            -&nbsp;&nbsp;&nbsp;services or products viewed over the Platform, visits and the time stamps; <br>
              <span class="padding-left-15">Device IDs and other unique identifiers like IP address, browser type, version, network</span>
          </p>
          <p class="padding-left-15 margin-bottom-15">      
            -&nbsp;&nbsp;&nbsp;service provider details;<br>
              <span class="padding-left-15">Device and software characteristics including types and configurations, connection</span>
          </p>
          <p class="padding-left-15 margin-bottom-15">      
            -&nbsp;&nbsp;&nbsp;information, statistics on page views, URLs with time stamp;<br>
              <span class="padding-left-15">Your interactions with our customer support via various support channels like e-mails,</span>
          </p>
          <p class="padding-left-15 margin-bottom-15">      
            -&nbsp;&nbsp;&nbsp;Your activity on the Platform, which would include your search history, your search inputs,
          </p>
          <p class="padding-left-15 margin-bottom-15">      
            -&nbsp;&nbsp;&nbsp;messages;<br> 
              <span class="padding-left-15">Service support and transaction history;</span>
          </p>          
          <p class="padding-left-15 margin-bottom-15">      
            -&nbsp;&nbsp;&nbsp;Information collected by cookies, and other technologies, also including advertisement data, etc. 
          </p>
          <h5 class="margin-bottom-5 margin-top-0">2. Use of Information Collected by Us</h5>
          <p class="padding-left-15 margin-bottom-15">
            In order to provide you with the services of the Platform and offer you enhanced use of the features of our Platform. We use your information to:
          </p>
          <p class="padding-left-15 margin-bottom-15">      
            -&nbsp;&nbsp;&nbsp;Process your registration, and provide you with your login account details;
          </p>
          <p class="padding-left-15 margin-bottom-15">      
            -&nbsp;&nbsp;&nbsp;Process your orders and payments in respect of our services;
          </p>
          <p class="padding-left-15 margin-bottom-15">      
            -&nbsp;&nbsp;&nbsp;Provide you with regional content, customized and personalized viewing options, recommendations on videos, movies, etc. which you may like to watch;
          </p>
          <p class="padding-left-15 margin-bottom-15">      
            -&nbsp;&nbsp;&nbsp;Perform analytics and customer research, to improve our service, including the user experience and the interface;
          </p>
          <p class="padding-left-15 margin-bottom-15">      
            -&nbsp;&nbsp;&nbsp;To offer you certain types of services, free trials, and other applicable offers based on your eligibility. 
          </p>
          <p class="padding-left-15 margin-bottom-15">
            -&nbsp;&nbsp;&nbsp;To offer you relevant contextual advertisements wherever applicable.
          </p>
          <p class="padding-left-15 margin-bottom-15">
            -&nbsp;&nbsp;&nbsp;Social angle.
          </p>
          <h5 class="margin-bottom-5 margin-top-0">3. Sharing and Disclosure of Information</h5>
          <p class="pull-left w-100 margin-bottom-15">
            While the Platform is the recipient of your Personal Information or Sensitive Personal Information, we may allow access of this information to various 3rd parties with whom SEL has direct legal and confidentiality binding and such data shall stay with them only for limited purpose and period <b><u>[NOTE TO DRAFT: PLEASE INSERT NAME OF THE GROUP ENTITIES WITH WHICH SUCH INFORMATION WILL BE SHARED.]</u></b> for the processing and storage of information, provision of account to you, provision of customer support, content development and delivery, and other purposes as identified in the Use of Information Collected By Us section to this Policy. 
          </p>
          <p class="pull-left w-100 margin-bottom-15">
            <b><u>We also engage various service providers to perform services on behalf of us enabling us to provide you services better. Such services may include, communications, advertising, infrastructure and IT, payment gateways processing payments, customer support, data analytics, conduct customer surveys, geo tagging/ location based content</u></b> . It is our constant endeavor to ensure that such service providers adhere to a similar standard of data protection and security that we have agreed to under this Policy. At times, when we offer promotional offers in collaboration with third party entities, we will not be responsible for the privacy practices of such third party entities.
          </p>
          <p class="pull-left w-100 margin-bottom-15">
            <b><u>Shemaroo Me,</u></b> and our service providers may be required to disclose and otherwise use your personal and other information where we or our service providers reasonably believe that there exists the need to disclose to 
          </p>
          <p class="padding-left-15 margin-bottom-15">      
            -&nbsp;&nbsp;&nbsp;Meet or satisfy any applicable law, regulation, governmental request, or, legal process;
          </p>
          <p class="padding-left-15 margin-bottom-15">      
            -&nbsp;&nbsp;&nbsp;Enforce the agreed Terms of Use;
          </p>
          <p class="padding-left-15 margin-bottom-15">      
            -&nbsp;&nbsp;&nbsp;Address and investigate any illegal activities, which may also include financial frauds, any
          </p>
          <p class="padding-left-15 margin-bottom-15">
            -&nbsp;&nbsp;&nbsp;security or technical issues;<br>
            <span class="padding-left-15">Protect itself against any harm, misuse, of the property or safety of [NOTE TO DRAFT: INSERT ENTITY NAME], its users and the public, as required or permitted by law.</span>
          </p>
         <p class="pull-left w-100 margin-bottom-15">
           In the event where there is any restructuring, reorganization, merger or sale, or any other transfer of assets, we shall transfer such information, including your personal information, subject to an agreement by the other party in respect to your personal information in a manner which is consistent with this Policy.
         </p>
         <p class="pull-left w-100 margin-bottom-15">
           Where you use any social plugin or social media application operated by other social media networks, you shall be subject to the terms of use and privacy policies of such entities themselves. 
         </p>
         <h5 class="margin-bottom-5 margin-top-0">4. Interaction with Other Applications, Platforms</h5>
         <p class="pull-left w-100 margin-bottom-15">
           You may be using other third party platforms, to access our services, which may have policies pertaining to privacy which may be different from ours. While you may use mobile devices, gaming systems, smart TVs and other such enabling devices to access our services, it is noteworthy that these have independent privacy policies, terms of use, which we recommend you read very carefully.
         </p>
         <h5 class="margin-bottom-5 margin-top-0">5. Cross Border Transfers</h5>
         <p class="pull-left w-100 margin-bottom-15">
           In our sharing of your information outside of the European Economic Area and any other region with specific and comprehensive data protection laws, we will ensure that your information is transferred only in accordance with this Privacy Policy and as may be prescribed and permitted by the laws applicable thereof. 
         </p>
         <h5 class="margin-bottom-5 margin-top-0">6. Your Rights and Your Preferences</h5>
         <p class="pull-left w-100 margin-bottom-15">
           At all times, you have the right to access your personal information, or update, or correct the personal information we hold about you. This can be easily done by you through your “Account Settings”, which empowers you with multiple information about your account, which may relate to your contact information, payment information, and several other relevant information about your account. To access this section, and make the relevant changes, you must be logged into your Account. 
         </p>
         <p class="pull-left w-100 margin-bottom-15">
           You also have the right to make a request to us, for deleting your personal information as available with us. You also acknowledge that deletion of some of these details may result in cancellation of your registration.
         </p>
         <p class="pull-left w-100 margin-bottom-15">
           Where you have any questions, or wish to make additional requests, you may write to our support at [insert e-mail address of the Privacy SPOC]. We strive to respond to any requests made with the specific exercise of data protection rights available under various applicable data protection laws. We retain information as required or permitted by the applicable laws or regulations, including to retain your choices and preferences, for billing purposes, and to meet and fulfill other requirements as specified in this Privacy Policy. Reasonable measures are made to destroy or to remove identifiers in a secure manner when it is no longer required to be retained with us. 
         </p>
         <p class="pull-left w-100 margin-bottom-15">
           If you no longer wish to receive certain communications from us via e-mail, messages, you can access the “Account Settings” and make your choice to unsubscribe. Please note that you cannot however, unsubscribe to service related correspondence made by us to you, such as messages regarding your transactions, subscriptions. You can also choose not to receive any push notifications, as may be enabled on your devices; this can be done through your device settings. 
         </p>
         <h5 class="margin-bottom-5 margin-top-0">7. Data Security </h5>
         <p class="pull-left w-100 margin-bottom-15">
          We understand that we must safeguard your personal information available with us. We use and employ reasonable technical, organizational, logical, physical, administrative measures to protect your personal information against any unauthorized access, modification, or, use. 
         </p>
         <h5 class="margin-bottom-5 margin-top-0">8. Children </h5>
         <p class="pull-left w-100 margin-bottom-15">
           You must be 18 years of age or older to subscribe to our services. In jurisdictions, where the age of majority is older than 18, in such case, you must satisfy such requirement to become a member. Any individual under the age of 18 utilizing the service, may do so only with the strict involvement, supervision and approval of a parent or a legal guardian. 
         </p>
         <h5 class="margin-bottom-5 margin-top-0">9. Cookies and Advertising</h5>
         <p class="pull-left w-100 margin-bottom-15">
           We and our service providers use cookies and other technologies, such as web beacons, as well as several advertising identifiers for several purposes. This is done to understand the users better and offer you with tailored marketing and advertising services. If you do not consent to the use of cookies, use of similar technologies by us, you may at any time adjust your browser settings and delete or disable such cookies. However, this may result in the absence of tailored or user interest based advertisements. 
         </p>
         <h5 class="margin-bottom-5 margin-top-0">10. Changes in Privacy Policy</h5>
         <p class="pull-left w-100 margin-bottom-15">
           We may update this Privacy Policy from time to time. Your continued use of our Platform constitutes  your acceptance of our Terms of Use and this Privacy Policy. We encourage you to review this section periodically to review any changes made. If you do not wish to accept any changes made to this Privacy Policy, you may cancel your use of our services. 
         </p>
         <h5 class="margin-bottom-5 margin-top-0">11. Privacy Contact</h5>
         <p class="pull-left w-100 margin-bottom-15">
           
         </p>
         <h5 class="margin-bottom-5 margin-top-0">12. ESCALATION MATRIX</h5>
         <p class="pull-left w-100 margin-bottom-15">
           
         </p>
        </div>
      </div>
    </div>
  </div>
</section>
<%=render "layouts/page_height_setting"%>