<section class="onboarding-bg onboarding-bg-min-height padding-top-155 min-height-div">
  <div class="static-container margin-bottom-30">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 margin-top-25">
        <h2 class="block margin-bottom-10">Privacy Policy</h2>
        <div class="w-100 tile-box-shadow padding-left-30 padding-right-25 padding-bottom-30 padding-top-30 rounded">
          <h5 class="margin-bottom-15">Lorem Ipsum</h5>
          <p class="margin-bottom-15 font-light">Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation. Lorem ipsum is derived from the Latin "dolorem ipsum" roughly translated as "pain itself." </p>
          <p class="margin-bottom-15 font-light">Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation. Lorem ipsum is derived from the Latin "dolorem ipsum" roughly translated as "pain itself." </p>
          <p class="margin-bottom-15 font-light">Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation. Lorem ipsum is derived from the Latin "dolorem ipsum" roughly translated as "pain itself." </p>
          <p class="margin-bottom15 font-light">Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation. Lorem ipsum is derived from the Latin "dolorem ipsum" roughly translated as "pain itself." </p>
        </div>
    </div>
  </div>
  </div>
</section>
<%=render "layouts/page_height_setting"%>