<!-- <section class="onboarding-bg onboarding-bg-min-height padding-top-80 padding-top-145 min-height-div">
	<div class="static-container margin-bottom-30">
		<div class="row">
		  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 margin-top-25">
		    <h2 class="block margin-bottom-10">Terms & Conditions</h2>
		    <div class="w-100 tile-box-shadow padding-left-30 padding-right-25 padding-bottom-30 padding-top-30 rounded">
		      <h5 class="margin-bottom-15">Lorem Ipsum</h5>
		      <p class="margin-bottom-15 font-light">Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation. Lorem ipsum is derived from the Latin "dolorem ipsum" roughly translated as "pain itself." </p>
		      <p class="margin-bottom-15 font-light">Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation. Lorem ipsum is derived from the Latin "dolorem ipsum" roughly translated as "pain itself." </p>
		      <p class="margin-bottom-15 font-light">Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation. Lorem ipsum is derived from the Latin "dolorem ipsum" roughly translated as "pain itself." </p>
		      <p class="margin-bottom15 font-light">Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation. Lorem ipsum is derived from the Latin "dolorem ipsum" roughly translated as "pain itself." </p>
		    </div>
			</div>
		</div>
	</div>
</section> -->
<section class="onboarding-bg onboarding-bg-min-height padding-top-80 padding-top-145 min-height-div">
	<div class="static-container margin-bottom-30">
		<div class="row">
		  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap terms_section margin-bottom-20 margin-top-25">
		    <h2 class="block margin-bottom-10">Terms & Conditions</h2>
		    <div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-25 padding-bottom-30 padding-top-30 rounded  font-light">
		      
		      <p class="pull-left w-100 margin-bottom-15">
		      	<span class="font-bold"><u>Shemaroo Me</u></span> (“SEL”, “we”, “our”, “us”) provides you with a subscription service which allows you to watch <b><u>a range diversified video</u></b> and other content and services as provided, which are streamed over the internet to the web enabled devices. Please read these Terms of Use along with our Privacy Policy, and all other rules and policies related to our service including any rules of usage provisions provided for any specific product or service offered by us.
		      </p>
		      <p class="pull-left w-100 margin-bottom-15">
		      	These Terms of Use govern your use of our service. As used in this Terms of Use, “Service” is the personalized service provided by us for recommending, reviewing, discovering and watching, using interfaces, including all the service features and functionalities, including the content as provided with our service. 
		      </p>
		      
		      <h5 class="margin-bottom-5 margin-top-0">1. Geography</h5>
		      <p class="margin-bottom-15">
		      	The services offered to you will be based on your geographic location, and you may not employ any technology to obscure or disguise your location. The content offered to you may also vary from time to time and as per your location. This will be primarily basis the geography that you have subscribed our services for, and established your account in. </p>	
		      <h5 class="margin-bottom-5 margin-top-0">2. Compatible Devices</h5>
		      <p class="margin-bottom-15">
		      	Our services can be available across various devices, platforms which have been approved by us from time to time. Subject to compatibility, you may be able to access the services through handheld devices, and other IP based connected devices or any other compatible system.<br>
		      <b><u>[All web browsers, mobile browsers, android, IOS, Roku, FireTV, Apple TV, all other smart phones, smart TV devices and any other smart device that may come up in the future]</u></b>
		       </p>
		      <p class="margin-bottom-15">
		      	Note that we may change or update the requirements for compatibility from time to time. The compatibility of such device will then depend on the software or systems provided and maintained by such manufacturer, or other parties. In such extreme scenarios, a device which might be compatible with our services might cease to be compatible at a later point of time. 
		      </p>
		      <h5 class="margin-bottom-5 margin-top-0">3. Service</h5>
		      <p class="padding-left-15 margin-bottom-15">
		      	3.1 In order to avail our services and become a member, you must be 18 years of age, or the age of majority in your territory or country. Our services may be used by a minor only under the strict supervision, guidance and control of an adult. 
		      </p>
		      <p class="padding-left-15 margin-bottom-15">
		      	3.2 Viewing of content on our platform is only for your personal and non-commercial use and should not be shared with individuals otherwise. During your use of our services we grant you a limited, non-exclusive, non-transferable right to access our service and view our content. Except for what has been specifically provided for herein, no right, title, or interest shall be transferred to you. You also agree not to use the service for public performances. 
		      </p>
		      <p class="padding-left-15 margin-bottom-15">
		      	3.3 Our services, including our content library are regularly updated. You will have access to such content depending on the subscription plan that you have signed up for. <b><u>In addition, you will from time to time have access to limited content even without subscribing to our services basis your geographic location.</u></b> You manage your subscription from the “Accounts” page. 
		      </p>
		      <p class="padding-left-15 margin-bottom-15">
		      	3.4 You agree to use all our services, in accordance with the applicable laws, rules and regulations, or other restrictions on use of the service or content therein. You further agree not to reproduce, distribute, modify, display, perform, archive, publish, license, create derivative works from, offer for sale, or use (except as expressly authorized under the Terms of Use) content and information contained on or obtained through our service. You also agree not to: circumvent, remove, degrade, deactivate or thwart any of the contents of our service; use any robot, spider, scraper or other means to access our service. You also agree not to decompile, reverse engineer, and disassemble any software or other products or processes accessible through our service. You further agree not to insert any code or product or manipulate the content of our service in any way; or use any data mining, data gathering or extraction method. Additionally, you agree not to upload, post, e-mail or otherwise send or transmit any material designed to interrupt, destroy or limit the functionality of our service. We may terminate or restrict your use of our service if you violate these Terms of Use or engaged in any illegal or fraudulent use of our service. 
		      </p>
		      <p class="padding-left-15 margin-bottom-15">
		      	3.5 The playback resolution or quality of the content of our service will depend on a number of factors, including the type of compatible device that you are using to access the service from, and your bandwidth, which may vary during your course of viewing. If we detect that the content you are streaming from our platform is being interrupted or otherwise does not play as intended due to bandwidth issues, we may decrease the resolution and file size of the streamed content in an effort to provide you with uninterrupted viewing experience.
		      </p>
		      <p class="padding-left-15 margin-bottom-15">
		      	3.6 Any use of the information you provide to us is subject to your understanding and acceptance of our Privacy Policy. 
		      </p>
		      <p class="padding-left-15 margin-bottom-15">
		      	3.7 To find more information about our service and its features or if you need assistance with your account, please visit the Help Center on our website
		      </p>
		      <p class="padding-left-15 margin-bottom-15">
		      	3.8 We will send you information pertaining to your account (e.g. payment authorizations, invoices, payment method, subscription plans, and notices) in electronic form only, for example via e-mails to your registered e-mail address as per our records. 
		      </p>
		      <h5 class="margin-bottom-5 margin-top-0">4. Subscription</h5>
		      <p class="padding-left-15 margin-bottom-15">
		      	4.1 To use our services you will have to have internet access, and a web enabled compatible device, and become a member. Your membership will continue for the duration as mentioned at the point of purchase in your experience of our app/website. Any free trial period shall also be communicated in the said experience and shall be applied accordingly 
		      </p>
		      <p class="padding-left-15 margin-bottom-15">
		      	4.2 For your membership and subscription, once you have chosen a subscription plan, you will have to provide us with one or more payment methods. “Payment method” means a current, valid, accepted method of payment, as may be updated by you from time to time, and which will also include payment made from your account in conjunction with a third party. 
		      </p>
		      <p class="padding-left-15 margin-bottom-15">
		      	4.3 We may change our subscription plans and the pricing of our service from time to time. However, any changes to the pricing or the subscription plans shall be intimated to you 1530 days in advance, and will not apply to you before a notice period of 15 days. <b><u>A change in the subscription plan shall only be effective from the new billing cycle.</u></b>		      	
		      </p>
		      <h5 class="padding-left-15">Payment and Termination</h5>		      	
		      <p class="padding-left-15 margin-bottom-15">
		      	<b><u style="background: #FFFF00;">Shemaroo Me currently uses Adyen as the third party service provider for payment services (e.g. card acceptance, merchant settlement, and related services). By taking a membership as mentioned herein, you agree to be bound by the terms of service and privacy policy of Adyen. Shemaroo is not responsible for any error by Adyen.</u></b><br>
		      	The membership fee for our service and any other charges you may incur in connection with your use of the service, such as taxes and other processing charges, will be charged <b><u>basis the periodicity of your subscription.</u></b>You can visit our website and click on the Account details link for further information on payment history. 
		      </p>
		      <p class="padding-left-15 margin-bottom-15">
		      	To use our services you must provide one or more Payment Methods. You can update your Payment Methods by going to the "Account" page. We may also update your Payment Methods using information provided by the payment service providers. Following any update, you authorize us to continue to charge the applicable Payment Method(s). You authorize us to charge any Payment Method associated to your account in case your primary Payment Method is declined or no longer available to us for payment of your subscription fee. You remain responsible for any uncollected amounts. If a payment is not successfully settled, due to expiration, insufficient funds, or otherwise, and you do not cancel your account, we may suspend your access to the service until we have successfully charged a valid Payment Method. For some Payment Methods, the issuer may charge you certain fees with additional transactional costs, such has to be checked with your Payment Method service provider for details.
		      </p>	
		      <h5 class="padding-left-15">Cancellation</h5>	
		      <p class="padding-left-15 margin-bottom-15">
		      	Unless you have cancelled your membership, you authorize us to charge your subsequent period’s month’s membership fee to your Payment method, where you on an have opted in for auto renewal <b><u>basis unless otherwise opted out. </u></b><br>
   					You can cancel your membership at any point of time, and you will continue to have access to our services through to the end of your <b><u>current subscription</u></b> billing period. You can go to your “Account” page and follow further instructions to cancel subscription to our services. If you cancel your subscription, it will come to an end automatically at the end of the billing period. In the event, where you have used third party services to create an account with us, or use our services, you will have to check your settings on such third party services to ensure that your subscription is cancelled. 
   					[BILLING CYCLE DETAILS]
		      </p>
		      <h5>5. Warranties and Limitations </h5>
		      <p class="padding-left-15 margin-bottom-15">
		      	You agree that your access to the platform and our services is at your own discretion. Our service to you is provided “as is” and is without any warranty or condition, expressed or implied. Without limitation, we do not many any warranties of fitness for any error-free and uninterrupted services. However, these terms will not limit any warranties which may not be waived, or any other consumer rights which you may be entitled to under the laws of your country of residence. 
		      </p>
		      <h5>6. Governing Law </h5>
		      <p class="padding-left-15 margin-bottom-15">
		      	These Terms of Use shall be governed by the laws of [Mumbai] without regards to any conflict of law provisions, and for resolution of any dispute arising out of your use of the services.
		      </p>
		      <h5>7. Severability </h5>
		      <p class="padding-left-15 margin-bottom-15">
		      	If any provision or provisions of these Terms of Use shall be held to be invalid, illegal, or unenforceable, the validity, legality and enforceability of the remaining provisions shall remain in full force and effect. 
		      </p>
		      <h5>8. Liability </h5>
		      <p class="padding-left-15 margin-bottom-15">
		      	To the maximum extent permitted by applicable law, SEL Entity shall not be liable for any indirect, incidental, special, consequential or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the services; (ii) any conduct or content of any third party on the services, including without limitation, any defamatory, offensive or illegal conduct of other users or third parties; (iii) any content obtained from the services; or (iv) unauthorized access, use or alteration of your transmissions or content.
		      </p>
		      <h5>9. Changes to Terms of Use and Assignment </h5>
		      <p class="padding-left-15 margin-bottom-15">
		      	We may from time to time change these Terms of Use and. <b><u>it is recommended you stay updated with the same.</u></b> We will notify you at least 30 days before such changes apply to you. We may assign or transfer our agreement with you including our associated rights and obligations at any time and you agree to cooperate with us in connection with such an assignment or transfer. Your continued use of the services will be deemed to constitute your acceptance of all of such revised terms. 
		      </p>
		      <!-- <ol class="pull-left w-100 margin-bottom-0 padding-left-10">
		      	<li class="pull-left w-100 margin-bottom-15">
		      		<h5 class="pull-left w-100 ">Geography</h5>
		      		The services offered to you will be based on your geographic location, and you may not employ any technology to obscure or disguise your location. The content offered to you may also vary from time to time and as per your location. This will be primarily basis the geography that you have subscribed our services for, and established your account in. 
		      	</li>
		      	<li class="pull-left w-100 margin-bottom-15">
		      		<h5 class="pull-left w-100 ">Compatible Devices</h5>
		      		Our services can be available across various devices, platforms which have been approved by us from time to time. Subject to compatibility, you may be able to access the services through handheld devices, and other IP based connected devices or any other compatible system. <br>
		      		<strong class="pull-left w-100 margin-top-5 margin-bottom-15">All web browsers, mobile browsers, android, IOS, Roku, FireTV, Apple TV, all other smart phones, smart TV devices and any other smart device that may come up in the future.</strong>
		      		Note that we may change or update the requirements for compatibility from time to time. The compatibility of such device will then depend on the software or systems provided and maintained by such manufacturer, or other parties. In such extreme scenarios, a device which might be compatible with our services might cease to be compatible at a later point of time. 
		      	</li>
		      	<li class="pull-left w-100 margin-bottom-0">
		      		<h5 class="pull-left w-100 ">Service</h5>

		      	</li>
	      	</ol> -->
		      
		    </div>
			</div>
		</div>
	</div>
</section>
<%=render "layouts/page_height_setting"%>
