<section class="onboarding-bg onboarding-bg-min-height padding-top-80 padding-top-145 min-height-div">
	<div class="static-container margin-bottom-30">
		<div class="row">
		  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 margin-top-25">
		    <h2 class="block margin-bottom-10">Terms & Conditions</h2>
		    <div class="w-100 tile-box-shadow padding-left-30 padding-right-25 padding-bottom-30 padding-top-30 rounded">
		      <h5 class="margin-bottom-15">Lorem Ipsum</h5>
		      <p class="margin-bottom-15 font-light">Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation. Lorem ipsum is derived from the Latin "dolorem ipsum" roughly translated as "pain itself." </p>
		      <p class="margin-bottom-15 font-light">Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation. Lorem ipsum is derived from the Latin "dolorem ipsum" roughly translated as "pain itself." </p>
		      <p class="margin-bottom-15 font-light">Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation. Lorem ipsum is derived from the Latin "dolorem ipsum" roughly translated as "pain itself." </p>
		      <p class="margin-bottom15 font-light">Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation. Lorem ipsum is derived from the Latin "dolorem ipsum" roughly translated as "pain itself." </p>
		    </div>
			</div>
		</div>
	</div>
</section>
<!-- <section class="onboarding-bg onboarding-bg-min-height padding-top-80 padding-top-145 min-height-div">
	<div class="static-container margin-bottom-30">
		<div class="row">
		  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 margin-top-25">
		    <h2 class="block margin-bottom-10">Terms & Conditions</h2>
		    <div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-25 padding-bottom-30 padding-top-30 rounded  font-light">
		      
		      <p class="pull-left w-100 margin-bottom-15">
		      	<span class="font-bold">Shemaroo Me</span> (“SEL”, “we”, “our”, “us”) provides you with a subscription service which allows you to watch <span class="font-bold">a range diversified video</span> and other content and services as provided, which are streamed over the internet to the web enabled devices. Please read these Terms of Use along with our Privacy Policy, and all other rules and policies related to our service including any rules of usage provisions provided for any specific product or service offered by us.
		      </p>
		      <p class="pull-left w-100 margin-bottom-15">
		      	These Terms of Use govern your use of our service. As used in this Terms of Use, “Service” is the personalized service provided by us for recommending, reviewing, discovering and watching, using interfaces, including all the service features and functionalities, including the content as provided with our service. 
		      </p>
		      <ol class="pull-left w-100 margin-bottom-0 padding-left-0">
		      	<li class="pull-left w-100 margin-bottom-15">
		      		<h5 class="pull-left w-100 ">Geography</h5>
		      		The services offered to you will be based on your geographic location, and you may not employ any technology to obscure or disguise your location. The content offered to you may also vary from time to time and as per your location. This will be primarily basis the geography that you have subscribed our services for, and established your account in. 
		      	</li>
		      	<li class="pull-left w-100 margin-bottom-15">
			      		<h5 class="pull-left w-100 ">Compatible Devices</h5>
			      		Our services can be available across various devices, platforms which have been approved by us from time to time. Subject to compatibility, you may be able to access the services through handheld devices, and other IP based connected devices or any other compatible system. <br>
			      		<strong class="pull-left w-100 margin-top-5 margin-bottom-15">All web browsers, mobile browsers, android, IOS, Roku, FireTV, Apple TV, all other smart phones, smart TV devices and any other smart device that may come up in the future.</strong>
			      		Note that we may change or update the requirements for compatibility from time to time. The compatibility of such device will then depend on the software or systems provided and maintained by such manufacturer, or other parties. In such extreme scenarios, a device which might be compatible with our services might cease to be compatible at a later point of time. 
			      	</li>
			      	<li class="pull-left w-100 margin-bottom-0">
			      		<h5 class="pull-left w-100 ">Geography</h5>
			      	</li>
		      	</ol>
		      </ul>
		    </div>
			</div>
		</div>
	</div>
</section> -->
<%=render "layouts/page_height_setting"%>
