@supports (mix-blend-mode: lighten) {
  .light .gradient-circle {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient-circle::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /*background: unquote($gradient);*/
      pointer-events: none; }
    .light .gradient-circle::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient1 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient1::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /*background: unquote($gradient);*/
      pointer-events: none; }
    .light .gradient1::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient2 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient2::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /*background: unquote($gradient);*/
      pointer-events: none; }
    .light .gradient2::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient3 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient3::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /*background: unquote($gradient);*/
      pointer-events: none; }
    .light .gradient3::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient4 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient4::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /*background: unquote($gradient);*/
      pointer-events: none; }
    .light .gradient4::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient5 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient5::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /*background: unquote($gradient);*/
      pointer-events: none; }
    .light .gradient5::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient6 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient6::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /*background: unquote($gradient);*/
      pointer-events: none; }
    .light .gradient6::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient7 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient7::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /*background: unquote($gradient);*/
      pointer-events: none; }
    .light .gradient7::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient8 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient8::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /*background: unquote($gradient);*/
      pointer-events: none; }
    .light .gradient8::before {
      mix-blend-mode: screen; } }

/* Page styling, ignore */

/*# sourceMappingURL=gradient.css.map */
