<%="payment_processing"%>
<section class="min-height-div transation_status_page margin-top-30">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap no_content_plans text-center margin-top-25">
      <h2 class="block margin-bottom-10">Payment Processing</h2>
      <img src="/assets/payment_pending.svg" class="status_image" alt="" title="">
      <p class="font-light margin-bottom-15">It looks like it's taking longer than usual to process your payment. Please check after some time</p>       
      <a href="/" class="radius-button" id="">OK</a>
    </div>
  </div>
</section>