<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang=en>
<head>
<meta charset="UTF-8" />
<title>Shemaroo</title>
<meta name="ctest" content="ctest" /
><link href="/assets/images/favic.ico" rel="shortcut icon" />    
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="assets/css/bootstrap4.1.3.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/owl-carousel.css">
<link rel="stylesheet" type="text/css" href="assets/css/owl-carousel-default.css">
<link rel="stylesheet" type="text/css" href="assets/css/common.css">
<link rel="stylesheet" type="text/css" href="assets/css/gradient.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">

<!-- jQuery library -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/poper1.14.3.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="assets/js/bootstrap.min.js"></script>


</head>
<body>
  <div class="wrapper">
    <!-- <div class="row"> -->
      <div class="container">
        <div class="inside-wrapper">
          <%all_pack = @all_plans.last["catalog_list_items"].last%>
        
        <section class="onboarding-bg">
          <div class="onboarding-payment-contianer margin-bottom-30">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 margin-top-25">
                <h2 class="block margin-bottom-10"><img src="assets/back_arrow.svg" class="back_arrow" alt="" title=""> Summary</h2>
                <div class="w-100 pull-left tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded">
                  <div class="pull-left payment-header w-100">
                    <ul class="pull-left w-100 padding-left-30 padding-right-30 margin-bottom-0 list-none light">
                      <li class="text-uppercase gradient1">all categories</li>
                      <li>
                        <div class="input-group custom-controls-stacked d-block">                                        
                        <label class="custom-control overflow-checkbox">
                          <input type="checkbox" class="overflow-control-input">
                          <span class="overflow-control-indicator"></span>
                          <span class="overflow-control-description text-uppercase">999<br>yearly</span>
                        </label>
                      </div>
                      </li>
                      <li>
                        <div class="input-group custom-controls-stacked d-block">                                        
                        <label class="custom-control overflow-checkbox">
                          <input type="checkbox" class="overflow-control-input">
                          <span class="overflow-control-indicator"></span>
                          <span class="overflow-control-description text-uppercase">99<br>monthly</span>
                        </label>
                      </div>
                      </li>
                    </ul>
                  </div>
                  <div class="payment-body">
                    <ul class="list-none margin-bottom-20">
                      <li class="pull-left">
                        <span class="font-medium">Combo Pack</span>
                        Bollywood Classic + Bollywood Plus (Yearly)
                      </li>
                      <li class="pull-right">
                        699
                      </li>
                    </ul>
                    <ul class="list-none margin-bottom-20">
                      <li class="pull-left">
                        Tax
                      </li>
                      <li class="pull-right">
                        -
                      </li>
                      <li class="pull-left">
                        <a href="javascript:;" class="text-uppercase">Have a Promocode ?</a>
                      </li>
                    </ul>
                  </div>
                  <div class="payment-footer">
                    <ul class="list-none">
                      <li class="font-black pull-left">Grand Amount</li>
                      <li class="pull-right">699</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- <div class="padding-left-0 padding-right-0 text-center light">
          <a href="javascript:;" class="text-uppercase btn btn-outline-primary margin-bottom-15 margin-top-15 gradient1">confirm your modifications</a>  
        </div> -->
        

      </div>      
    </div>
    <!-- </div> -->
  </div>
  
<script>
  var window_height = window.outerHeight;
  var window_height = window_height - 440;  
  //$('.plans_list_section').css('min-height',window_height+'px');  

  $(".plans_list_section ul li:nth-child(2), .plans_list_section ul li:last-child").click(function() {
    $(".plans_list_section ul li").removeClass("active");
    $(this).addClass("active");
    var gradient = $(this).siblings("li").find("h5").attr("class");
    if(gradient == "gradient1") {
      //$(this).css("background", "linear-gradient(to right,#D51E54, #F15A23)")
      $(this).addClass("gradientbg1");
    }
    else if(gradient == "gradient2") {
      $(this).addClass("gradientbg2");
    }
    else if(gradient == "gradient3") {
      $(this).addClass("gradientbg3");
    }
    else if(gradient == "gradient4") {
      $(this).addClass("gradientbg4");
    }
    else if(gradient == "gradient5") {
     $(this).addClass("gradientbg5");
    }
    else if(gradient == "gradient6") {
      $(this).addClass("gradientbg6");
    }
    else if(gradient == "gradient7") {
      $(this).addClass("gradientbg7");
    }
    else if(gradient == "gradient8") {
      $(this).addClass("gradientbg8");
    }
    else {
      $(this).addClass("gradient");
    }

    $(".plans_footer").show();

    var selected_price = $(this).find(".price").text();
    $(".plans_footer span.amount").text(selected_price);
    $(".plans_footer span.amount").attr("data-prive-val",selected_price);
  });

  $(".fa-chevron-down").click(function() {
    //$(this).parent("p").parent(".card-body").children(".plan_list_show").toggle();
    $(this).parent("p").parent(".card-body").find(".plan_list_show").toggle();
  })

</script>       
<!-- <script src="assets/js/script.js"></script> -->
</body>
</html>