<section class="min-height-div transation_status_page margin-top-30">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap no_content_plans text-center margin-top-25">
      <h2 class="block margin-bottom-10"><!-- <img src="/assets/back_arrow.svg" class="back_arrow" alt="back arrow" title="back arrow"> --> Transaction Failed</h2>
      <img src="/assets/transaction_failed.svg" class="status_image" alt="something went wrong" title="something went wrong">
      <p class="font-light margin-bottom-15">Your payment of Rs. 45 could not be processed</p>
      <p class="font-light margin-bottom-15">Reason: The system is currently unavailable (Error 1234)</p>
      <p class="font-light margin-bottom-0">Transation ID</p>
      <p class="margin-bottom-0 font-medium margin-bottom-15"><strong>999999</strong></p>
      <a href="/" class="radius-button" id="">Try again</a>
    </div>
  </div>
</section>