<section class="header-section">
<div class="header-border col-xl-12 col-lg-12 col-md-12 col-sm-12 col- d-none d-xl-block">
</div>
<div class="row d-none d-xl-block">
  <div class="header col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
    <div class="main-logo pull-left">         
      <img src="/assets/main-logo.svg" alt="" title="">
    </div>
    <div class="main-menu pull-left d-none d-xl-block">
      <ul class="nav">
        <li class="nav-item"><a href="javascript:;" class="nav-link active text-uppercase">Home</a></li>
        <li class="nav-item"><a href="javascript:;" class="nav-link text-uppercase">Bollywood Classic</a></li>
        <li class="nav-item"><a href="javascript:;" class="nav-link text-uppercase">Bollywood Plus</a></li>
        <li class="nav-item"><a href="javascript:;" class="nav-link text-uppercase">Gujarati</a></li>
        <li class="nav-item"><a href="javascript:;" class="nav-link text-uppercase">Kids</a></li>
        <li class="nav-item"><a href="javascript:;" class="nav-link text-uppercase">Bhakti</a></li>
        <li class="nav-item"><a href="javascript:;" class="nav-link text-uppercase">Ibaadat</a></li>
        <li class="nav-item"><a href="javascript:;" class="nav-link text-uppercase">Punjabi</a></li>
      </ul>
    </div>
    <div class="head-right pull-right">
      <ul>
        <li>
          <img src="/assets/search.svg" alt="" title="">
        </li>
        <li class="d-none d-xl-block">
          <img src="/assets/tv_wo_highlight.svg" alt="" title="">
          <span class="text-center block">TV</span>
        </li>
        <li class="d-none d-xl-block">
          <img src="/assets/me_wo_highlight.svg" alt="" title="">
          <span class="text-center block">ME</span>
        </li>
      </ul>
    </div>

  </div>  
</div>

<div class="header col-xl-12 col-lg-12 col-md-12 col-sm-12 col- d-block d-xl-none">
  <nav class="navbar navbar-expand-md1 navbar-light fixed-top bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="main-logo pull-left">         
      <img src="/assets/main-logo.svg" alt="" title="">
    </div>
    <div class="head-right pull-right">
      <ul>
        <li><img src="/assets/search.svg" alt="" title=""></li>
      </ul>
    </div>
    
    <div class="scrollmenuwrap">
      <div class="scrollmenu">
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="#support">Support</a>
        <a href="#blog">Blog</a>
        <a href="#tools">Tools</a>  
        <a href="#base">Base</a>
        <a href="#custom">Custom</a>
        <a href="#more">More</a>
        <a href="#logo">Logo</a>
        <a href="#friends">Friends</a>
        <a href="#partners">Partners</a>
        <a href="#people">People</a>
        <a href="#work">Work</a>
      </div>
    </div>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="pull-right close-hambergmenu">
      <img src="/assets/cancel_search.svg" alt="" title="">
    </div>
    <div class="profile-list">
      <ul>
        <li>
          <p>K</p>
          <span class="text-uppercase">Kids</span>
        </li>
        <li class="active">
          <img src="/assets/profile.svg" alt="" title="">
          <p>ZD</p>
          <span class="text-uppercase">zubin dubash</span>
        </li>
        <li>
          <p>V</p>
          <span class="text-uppercase">Vaibhav</span>
        </li>
      </ul>                
    </div>
    <p class="text-center text-uppercase manage-profile"><a href="javascript:;">Manage</a></p>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><img src="/assets/notifications.svg" alt="" title="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/notifications.svg" alt="" title="">TV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/account_detail.svg" alt="" title="">Account Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/watch_list.svg" alt="" title="">Watch List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/reminders.svg" alt="" title="">Reminders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/view_plans.svg" alt="" title="">View Plans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/manage_payments.svg" alt="" title="">Manage Payments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/notifications.svg" alt="" title="">Notifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/settings.svg" alt="" title="">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/notifications.svg" alt="" title="">Refer a Friend</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/log_out.svg" alt="" title="">Logout</a>
      </li>                
    </ul>
   
  </div>
</nav>
</div>
</section>